@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

.glass {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.bg-grid-pattern {
    background-size: 30px 30px;
    background-image: radial-gradient(circle, #4f46e5 1px, transparent 1px);
}